#root {
    --background: #252728;
    --purple: #633f7d;
    --light-grey: #b5b3b2;
    --font-grey: #8f8f8d;
    max-width: 1440px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    background-color: var(--background);
}
