@import url('https://fonts.googleapis.com/css2?family=Tienne:wght@400;700;900&display=swap');

:root {
  --background: #252728;
  --purple: #633f7d;
  --light-grey: #b5b3b2;
  --font-grey: #8f8f8d;
  font-family: 'Tienne', Georgia, serif;
  max-width: 1440px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

a {
  font-weight:500;
  color: var(--font-grey);
}

a:hover {
  color: var(--purple);
}


body {
  background-color: var(--background);
}

h1, h2, h3, h4, h5, h6, p {
  color: var(--font-grey)
}

h1 {
  font-size: 5em; /* 40px/16=2.5em */
}

nav-item {
  font-size: 1em;
  margin-left: 1em;
  margin-right: 1em;
}


.project-container {
  width: min(1000px, 100%); /* Responsive width*/
  margin: 0 auto;
  columns: 3 300px;
  column-gap: 1em;
}

img {
  display: block;
  margin-bottom: 1em; /* vertical gap btwn project images*/
  width: 100%;

}
.social{
  font-size: 1em; /* 40px/16=2.5em */
}