@import url('https://fonts.googleapis.com/css2?family=Tienne:wght@400;700;900&display=swap');

:root {
  --background: #252728;
  --purple: #633f7d;
  --light-grey: #b5b3b2;
  --font-grey: #8f8f8d;
  font-family: 'Tienne', Georgia, serif;
  max-width: 1440px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

a {
  font-weight:500;
  color: var(--font-grey);
}

a:hover {
  color: var(--purple);
}


body {
  background-color: var(--background);
}

h1, h2, h3, h4, h5, h6, p {
  color: var(--font-grey)
}
